// 顶部间距
$top: 135rpx;
$top-spacing-col: 60rpx;
$top-title-spacing-col: 16rpx;
$top-entitle-spacing-col: 30rpx;

// 字体大小
$title-font-size:14rpx;
$entitle-font-size:12rpx;
$number-font-size:20rpx;
$middle-entitle-font-size:10rpx;

// //原来的样式 适配原来的背景图
// //左右内容
// $margin-left: 595rpx;
// $margin-right: 595rpx;
// //logo间距 
// $top-logo:70rpx;
// $left-logo:50rpx;
// $interX-logo:60rpx;
// //midview的宽和left
// $midview-width:315rpx;
// $midview-left:219rpx;


//现在的样式 适配新的背景图
//左右内容
$margin-left: 555rpx;
$margin-right: 555rpx;
//logo间距
$top-logo:70rpx;
// $left-logo:88rpx;
$interX-logo:10rpx;
//midview的宽和left
$midview-width:290rpx;
$midview-left:230rpx;

//标题top
$title-top:20rpx;

@font-face {
	font-family: IMPACT;
	src: url("@/static/font/IMPACT.TTF") format("TrueType");
}

@font-face {
	font-family: EUROSTILE;
	src: url("@/static/font/EUROSTILE.TTF") format("TrueType");
}

@font-face {
	font-family: english;
	src: url("@/static/font/046-cai978.ttf") format("TrueType");
}

@font-face {
	font-family: number;
	src: url("@/static/font/785-CAI978.ttf") format("TrueType");
}

* {
	margin: 0;
	padding: 0;
}

.img {
	width: 100%;
	max-height: 100%;
	position: absolute;
}

.img2 {
	width: 199rpx;
	height: 60.5rpx;
}

.time {
	font-family: EUROSTILE, Eurostile;
	font-weight: bold;
	color: white;
	position: absolute;
}


.title {
	font-family: 黑体;
	color: white;
	position: absolute;
	font-weight: bold;
	text-align: center;
}
.titleBg{
	position: absolute;
	z-index: 2;
	top:$title-top+10rpx;
	left: 0;
	right: 0;
	width: 100%;
	height: 12%;
	// width: 50rpx;
	// height: 50rpx;
}

.logo-imgs{
	position: absolute;
	z-index: 2;
	top:$top-logo;
	right: $margin-right;
	height: 50rpx;
	display: flex;
	
	
	.logoIcon{
		width: 50rpx;
		height: 50rpx;
	}
	
	.logo{}
	
	.logo1{
		margin-left: $interX-logo;
	}
}

.number {
	font-family: IMPACT, Impact;
	color: white;
	position: absolute;
}

.t {
	position: absolute;
	color: white;
}

.blinds {
	font-family: IMPACT, Impact;
}

.blindsNumber {
	font-family: IMPACT, Impact;
	text-align: right;
}

.chinaese {
	font-family: 方正大黑简体;
	color: white;
	position: absolute;
}

.english {
	font-family: english;
	color: white;
	position: absolute;
}

.chips {
	font-family: FZCY, 方正粗圆简体;
}

.mainDiv {
	background-color: black;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	top: 68rpx;	
	.bgimg {
		z-index: 1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: hidden;
		// display: block;
		width: 100%;
		height: 100%;
	}
	
	.timerContent{
		position: relative;
		z-index: 2;
	}
	
	.title1 {
		font-size: 18rpx;
		top: $title-top;
		width: 100%;
		display: flex;
		height: 45rpx;
		line-height: 20rpx;
		align-items: center;
		justify-content: center;
		text {
			width: 36%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	
	.title2 {
		font-size: 10rpx;
		top: 80rpx;
		left: 0;
		width: 100%;
		text-align: center;
	}
	
	.remainingTime{
		color: white;
		text-shadow: rgb(197, 193, 170) 0rpx 5rpx 10rpx, rgb(242, 242, 242) 0rpx -2rpx 1rpx;
		font-size: 90rpx;
		top: 130rpx;
		width: 100%;
		text-align: center;
		
		&.time-write{
			color: white;
			text-shadow: 0 5rpx 10rpx #C5C1AA, 0rpx -2rpx 1rpx #F2F2F2;
		}
		
		&.time-green{
			color: #76EE00;
			text-shadow: 0 5rpx 10rpx #C5C1AA, 0rpx -2rpx 1rpx #76EE00;
		}
	}
	
	.systemTimeIcon {
		font-family: 方正大黑简体;
		color: white;
		width: 30rpx;
		height: 30rpx;
		position: absolute;
		font-weight: bold;
		font-size: 12rpx;
		top: 80rpx;
		left: $margin-left;
	}
	
	.systemTime {
		color:#85FCFD;
		font-size: 16rpx;
		top: 90rpx;
		left: $margin-left + 34rpx;
	}
	
	.systemTimeEnglish{
		color:#85FCFD;
		font-size: 8rpx;
		font-weight: normal;
		top: 80rpx;
		left: $margin-left + 34rpx;
	}

	
	.sleepTimeTitle {
		font-size: $title-font-size;
		top: $top;
		left: $margin-left;
	}

	.sleepTimeEnTitle {
		font-size: $entitle-font-size;
		top: $top+$top-title-spacing-col;
		left: $margin-left;
	}
	
	.sleepTime {
		font-size: $number-font-size;
		top: $top+$top-entitle-spacing-col;
		left: $margin-left;
	}

	$averageChipsTop:$top+$top-entitle-spacing-col+$top-spacing-col;
	.averageChipsTitle {
		font-size: $title-font-size;
		top: $averageChipsTop;
		left: $margin-left;
	}

	.averageChipsEnTitle {
		font-size: $entitle-font-size;
		top: $averageChipsTop+$top-title-spacing-col;
		left: $margin-left;
	}
	
	.averageChips {
		font-size: $number-font-size;
		top: $averageChipsTop+$top-entitle-spacing-col;
		left: $margin-left;
	}

	$totalChipsTitleTop:$averageChipsTop+$top-entitle-spacing-col+$top-spacing-col;
	.totalChipsTitle {
		font-size: $title-font-size;
		top: $totalChipsTitleTop;
		left: $margin-left;
	}

	.totalChipsEnTitle {
		font-size: $entitle-font-size;
		top: $totalChipsTitleTop+$top-title-spacing-col;
		left: $margin-left;
	}
	
	.totalChips {
		font-size: $number-font-size;
		top: $totalChipsTitleTop+$top-entitle-spacing-col;
		left: $margin-left;
	}
	
	.leftview {
		.totalPrizeEnglish {
			/* style */
		}

		.totalPrizeChina {
			/* style */
		}

		.totalPrize {
			/* style */
		}
		
		
		.levelChina {
			font-size: $title-font-size;
			top: $top;
			right: $margin-right;
		}
		.levelEnglish {
			font-size: $entitle-font-size;
			top: $top+$top-title-spacing-col;
			right: $margin-right;
		}
		
		.level {
			font-family: number;
			font-size: $number-font-size;
			top: $top+$top-entitle-spacing-col;
			right: $margin-right;
		}
		
		$playerLeftChinaTop:$top+$top-entitle-spacing-col+$top-spacing-col;
		.playerLeftChina {
			font-size: $title-font-size;
			top: $playerLeftChinaTop;
			right: $margin-right;
		}
		
		.playerLeftEnglish {
			font-size: $entitle-font-size;
			top: $playerLeftChinaTop+$top-title-spacing-col;
			right: $margin-right;
		}

		.playerLeft {
			font-size: $number-font-size;
			top: $playerLeftChinaTop+$top-entitle-spacing-col;
			right: $margin-right;
		}
		
		$entrantsChinaTop:$playerLeftChinaTop+$top-entitle-spacing-col+$top-spacing-col;
		.entrantsChina {
			font-size: $title-font-size;
			top: $entrantsChinaTop;
			right: $margin-right;
		}
		.entrantsEnglish {
			font-size: $entitle-font-size;
			top: $entrantsChinaTop+$top-title-spacing-col;
			right: $margin-right;
		}
		.entrants {
			font-size: $number-font-size;
			top: $entrantsChinaTop+$top-entitle-spacing-col;
			right: $margin-right;
		}
	}

	.middleview {
		position: relative;
		top: 228rpx;
		//原来的样式
		// width: 315rpx;
		// left: 219rpx;
		width: $midview-width;
		left: $midview-left;
		
		.blindsChinaTitle {
			font-size: $title-font-size;
			top: 0;
			left: 0rpx;
		}

		.blindsChinaEnTitle {
			font-size: $middle-entitle-font-size;
			top: $top-title-spacing-col;
			left: 0rpx;
		}
		
		.blind {
			top: 2rpx;
			right: 0rpx;
			.blindsNumber {
				&.sb {
					font-size: $number-font-size;
				}
		
				&.gang {
					font-size: $number-font-size;
				}
		
				&.bb {
					font-size: $number-font-size;
				}
			}
		}

		$anteChinaTitleTop:20rpx+$top-title-spacing-col;
		.anteChinaTitle {
			font-size: $title-font-size;
			top: $anteChinaTitleTop;
			left: 0rpx;
		}

		.anteChinaEnTitle {
			font-size: $middle-entitle-font-size;
			top: $anteChinaTitleTop+$top-title-spacing-col;
			left: 0;
		}

		.ante {
			font-size: $number-font-size;
			top: 2rpx+$anteChinaTitleTop;
			right: 0rpx;
		}
		
		$nextLevelChinaTitleTop:$anteChinaTitleTop+$top-title-spacing-col+$top-title-spacing-col;
		.nextLevelChinaTitle {
			font-size: $title-font-size;
			top: $nextLevelChinaTitleTop;
			left: 0;
		}
		
		.nextLevelChinaEnTitle {
			font-size: $entitle-font-size;
			top: $nextLevelChinaTitleTop+$top-title-spacing-col;
			left: 0;
		}
		
		.nextBlind {
			top: 2rpx+$nextLevelChinaTitleTop;
			right: 0;
			.nextSb,
			.nextBb,
			.nextgang,
			.nextAnte {
				font-size: $number-font-size;
			}
		}
	}

	

	.coming,
	.break {
		z-index: 999;
		// top: calc(65% - 50rpx);
		top:220rpx;
		left: 0;
		width: 100%;
		text-align: center;
		position: fixed;
		// .img2 {
		// 	width: 199rpx;
		// 	height: 60.5rpx;
		// }
	}

	.pause,
	.end {
		z-index: 999;
		// top: calc(65% - 50rpx);
		top:220rpx;
		left: 0;
		width: 100%;
		text-align: center;
		position: fixed;
		// .img2 {
		// 	width: 199rpx;
		// 	height: 60.5rpx;
		// }
	}

	.msg {		
		position: fixed;
		bottom: 5rpx;
		width: 335rpx;
		left: 209rpx;
		
		.rewardMsg {			
			::v-deep.uni-noticebar__content-text{
				font-family: 黑体;
			}
		}
	}
}